@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    font-size: 10px;
    --text-color: #404040;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas-Neue', sans-serif;
}

.admin-dash {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
    min-height: 100vh;
}

.sidebar {
    grid-column: span 1;
    grid-row: span 2;
    background-color: #c026d3;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}

.sidebar > * {
    color: #fafafa;
    line-height: normal;
    font-size: 1.8rem;
    font-weight: 600;
}

.grid-item {
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 10px;
    align-items: center;
    margin-bottom: 15px;
}

.grid-item > svg {
    justify-self: center;
    height: 2.8rem;
    width: auto;
}

.grid-item > .logo-img {
    width: 50px;
    height: auto;
}

.logo-text {
    font-size: 2.8rem;
}

.header {
    background-color: #3f3f46;
    padding: 20px 35px;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    gap: 20px;
}

.search {
    align-self: center;
    display: flex;
    gap: 15px;
}

.search-icon, .notify {
    width: 20px;
    height: 20px;
}

.search-bar {
    flex: 1;
    background-color: #a3a3a3;
    border-radius: 40px;
    color: #fafafa;
    border: none;
    padding: 0.3rem;
}

.search-bar:focus {
    background-color: #525252;
}

.account {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.account-avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.nickname {
    color: #fafafa;
    font-size: 1.8rem;
    font-weight: 600;
}

.account-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.info-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.welcome {
    display: flex;
    flex-direction: column;
    color: #fafafa;
    font-weight: 600;
    font-size: 1.3rem;
}

.nickname-info {
    font-size: 2rem;
}

.header-action {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.action-btn {
    background-color: #c026d3;
    padding: 10px 25px;
    border-radius: 4rem;
    color: #fafafa;
    font-size: 1.6rem;
    font-weight: 600;
}

.social {
    background-color: #262626;
    display: grid;
    grid-template-columns: repeat(2, 3fr) 2fr;
    grid-template-rows: 20px repeat(6, 1fr);
    padding: 40px 20px;
    gap: 20px;
}

.projects-section {
    grid-column: 1 / 3;
    grid-row: 1 / 8;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20px repeat(3, 1fr);
    gap: 20px;
}

.ann-section {
    grid-column: 3;
    grid-row: 1 / 5;
    margin-bottom: 20px;
}

.trends-section {
    grid-row: 5 / 8;
}

.ann-section, .trends-section {
    display: grid;
    grid-template-rows: 20px 1fr;
    gap: 20px;
}

.social-header {
    color: #fafafa;
    font-size: 1.8rem;
    font-weight: 600;
    grid-column: 1 / -1;
}

.project, .announcements, .trends {
    background-color: #fafafa;
    border-radius: 10px;
}

.project {
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-shadow: 5px 0 0 #c026d3 inset;
    padding: 35px 25px;
}

.project-header {
    font-size: 2.4rem;
    font-weight: 600;
}

.project-text {
    flex: 1;
    font-size: 1.4rem;
    color: var(--text-color);
}

.project-btns {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}

.project-btn > svg {
    width: 30px;
}

.announcements {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.ann {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid rgba(63, 63, 70, 0.4);
}

.ann:last-child {
    border: none;
}

.ann-header {
    font-size: 1.6rem;
    font-weight: 600;
}

.ann-text {
    font-size: 1.2rem;
    color: var(--text-color);
}

.trends {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 25px 20px;
}

.trend {
    display: flex;
    align-items: center;
    gap: 20px;
}

.avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.trend-author {
    flex: 1;
    font-size: 1.4rem;
}

.trend-name {
    color: var(--text-color);
}