@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

.main {
    display: flex;
    height: 100vh;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    background: url('./img/gradient.webp');
    box-shadow: inset -2px 0px 15px rgb(0, 0, 0, 0.2);
}

.logo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px rgb(0, 0, 0, 0.2);
}

.form-wrap {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.form-head {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.form-text {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 40px;
}

.form-bg {
    height: 70%;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.form-bg > *, .submit-form > * {
    font-family: 'Oswald', sans-serif;
}

.sign-up {
    display: flex;
    flex-wrap: wrap;
    width: 540px;
    margin-bottom: 40px;
}

.sign-up label {
    font-size: 1.1rem;
    color: gray;
}

.sign-up input {
    padding: 5px 10px;
    font-size: 1rem;
    border: 1px lightgray solid;
    border-radius: 5px;
}

.sign-up input:focus {
    outline: none;
    border: 1px solid mediumblue;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.2);
}

.sign-up input:valid {
    border: 1px solid greenyellow;
}

.invalid {
    border: 1px solid brown !important;
}

.sign-up input::placeholder {
    color: rgb(165, 165, 165);
}

.form-elem {
    flex: 0 0 200px;
    margin-right: 40px;
}

.invalid-msg {
    display: block;
    height: 20px;
    font-size: 0.9rem;
    color: red;
    opacity: 0;
}

#pwd + .invalid-msg, #pwd-confirm + .invalid-msg {
    opacity: 1;
}

.submit-form {
    height: 30%;
    padding: 60px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 10px 0px inset;
}

.create {
    width: 12rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    font-family: 'Oswald', sans-serif;
    background-color: rgb(239, 147, 253);
}

.create, .log-in {
    font-size: 1.1rem;
}

.create:hover {
    background-color: rgb(242, 164, 253);
    cursor: pointer;
}

.create:active {
    font-size: 1.05rem;
}

.log-in-link {
    color: rgb(239, 147, 253);
    text-decoration: none;
}

.log-in-link:hover {
    color: rgb(209, 130, 221);
}